@font-face {
  font-family: 'icons';
  src:  url('iconfonts/icons.eot?oz35mg');
  src:  url('iconfonts/icons.eot?oz35mg#iefix') format('embedded-opentype'),
    url('iconfonts/icons.ttf?oz35mg') format('truetype'),
    url('iconfonts/icons.woff?oz35mg') format('woff'),
    url('iconfonts/icons.svg?oz35mg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-hide-password:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e904";
}
