@font-face {
  font-family: SF;
  src: url(fonts/SF-Pro-Text-Medium.otf);
}

:root {
  --blue: #0052ff;
  --orange: #fe9526;
  --yellow: #ffcb2f;
  --green: #53d86a;
  --red: #ff3434;
}

.main {
  max-width: 1312px;
  display: flex;
  flex-direction: column;
  padding: 80px 0px;
  margin: auto;
}

.typography {
  color: #00194c;
}

.description {
  display: flex;
  background-color: #e6eeff;
  padding: 22px 95px;
  min-height: 67px;
  font-family: SF;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.style-name {
  width: 255px;
  padding-right: 30px;
}

.font-size {
  padding-right: 24px;
}

.line-height {
  padding-right: 100px;
}

.sample {
  width: 540px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SF;
}

.examples {
  display: flex;
  flex-direction: column;
  padding: 80px 95px 50px 95px;
  font-family: "Inter";
  text-align: left;
}

.heading {
  display: flex;
  margin-bottom: 48px;
  font-weight: 600;
}

.hr {
  margin-bottom: 48px;
  border: 1px solid;
  color: rgba(0, 82, 255, 0.16);
}

.line-height-text {
  padding-left: 33px;
}

.sample-text {
  margin-left: 52px;
}

.heading p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.heading h1 {
  font-size: 32px;
  line-height: 42px;
}

.heading h2 {
  font-size: 28px;
  line-height: 36px;
}

.heading h3 {
  font-size: 22px;
  line-height: 30px;
}

.heading h4 {
  font-size: 20px;
  line-height: 28px;
}

.heading h5 {
  font-size: 18px;
  line-height: 26px;
}

.heading h6 {
  font-size: 16px;
  line-height: 24px;
}

.paragraph {
  display: flex;
  margin-bottom: 48px;
  font-weight: 400;
}

#paragraph-example-1 {
  font-size: 20px;
  line-height: 28px;
}

#paragraph-example-2 {
  font-size: 18px;
  line-height: 26px;
}

#paragraph-example-3 {
  font-size: 16px;
  line-height: 24px;
}

#paragraph-example-4 {
  font-size: 14px;
  line-height: 22px;
}

.colors {
  display: grid;
  grid-template-columns: 496px 496px;
  grid-template-rows: 560px 560px 560px;
  gap: 160px;
  margin: auto;
  font-family: Inter;
}

.color-container {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.main-color-info {
  width: 130px;
  border: 1px solid #e6eeff;
  border-radius: 4px 4px 4px 4px;
  height: fit-content;
}
.main-color-container {
  border-bottom: 1px solid #e6eeff;
  height: 139px;
  border-radius: 4px 4px 0px 0px;
}
.main-color-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 12px 0px;
}
.text p {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

.little-color-icon {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}
.color-icons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blue {
  background-color: var(--blue);
}
.blue-100 {
  background-color: #e6eeff;
}
.blue-200 {
  background-color: #b3cbff;
}
.blue-300 {
  background-color: #80a9ff;
}
.blue-400 {
  background-color: #4d86ff;
}
.blue-500 {
  background-color: #0052ff;
}
.blue-600 {
  background-color: #004ae6;
}
.blue-700 {
  background-color: #0039b3;
}
.blue-800 {
  background-color: #002980;
}
.blue-900 {
  background-color: #00194c;
}
.orange {
  background-color: var(--orange);
}
.orange-100 {
  background-color: #fff4e9;
}
.orange-200 {
  background-color: #ffdfbe;
}
.orange-300 {
  background-color: #ffca93;
}
.orange-400 {
  background-color: #feb567;
}
.orange-500 {
  background-color: #fea03c;
}
.orange-600 {
  background-color: #e58622;
}
.orange-700 {
  background-color: #b2681b;
}
.orange-800 {
  background-color: #7f4b13;
}
.orange-900 {
  background-color: #331e08;
}
.yellow {
  background-color: var(--yellow);
}
.yellow-100 {
  background-color: #fffaea;
}
.yellow-200 {
  background-color: #ffefc1;
}
.yellow-300 {
  background-color: #ffe597;
}
.yellow-400 {
  background-color: #ffdb6d;
}
.yellow-500 {
  background-color: #ffd044;
}
.yellow-600 {
  background-color: #e6b72a;
}
.yellow-700 {
  background-color: #b38e21;
}
.yellow-800 {
  background-color: #806618;
}
.yellow-900 {
  background-color: #332909;
}
.green {
  background-color: var(--green);
}
.green-100 {
  background-color: #eefbf0;
}
.green-200 {
  background-color: #cbf3d2;
}
.green-300 {
  background-color: #a9ecb5;
}
.green-400 {
  background-color: #87e497;
}
.green-500 {
  background-color: #64dc79;
}
.green-600 {
  background-color: #4bc25f;
}
.green-700 {
  background-color: #3a974a;
}
.green-800 {
  background-color: #21562a;
}
.green-900 {
  background-color: #112b15;
}
.red {
  background-color: var(--red);
}
.red-100 {
  background-color: #ffebeb;
}
.red-200 {
  background-color: #ffc2c2;
}
.red-300 {
  background-color: #ff9a9a;
}
.red-400 {
  background-color: #ff7171;
}
.red-500 {
  background-color: #ff4848;
}
.red-600 {
  background-color: #e62f2f;
}
.red-700 {
  background-color: #b32424;
}
.red-800 {
  background-color: #801a1a;
}
.red-900 {
  background-color: #330a0a;
}

.opacity-8 {
  opacity: 8%;
}
.opacity-16 {
  opacity: 16%;
}
.opacity-24 {
  opacity: 24%;
}
.opacity-32 {
  opacity: 32%;
}
.opacity-40 {
  opacity: 40%;
}
.opacity-48 {
  opacity: 48%;
}
