@font-face {
  font-family: SF;
  src: url(fonts/SF-Pro-Text-Medium.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");


  $blue: rgba(0, 82, 255, 1);
  $orange: rgba(254, 149, 38, 1);
  $yellow: rgba(255, 203, 47, 1);
  $green: rgba(83, 216, 106, 1);
  $red: rgba(255, 52, 52, 1);


.main {
  max-width: 1312px;
  display: flex;
  flex-direction: column;
  padding: 80px 0px;
  margin: auto;
}

.typography {
  color: #00194c;
}

.description {
  display: flex;
  background-color: #e6eeff;
  padding: 22px 95px;
  min-height: 67px;
  font-family: SF;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.style-name {
  width: 255px;
  padding-right: 30px;
}

.font-size {
  padding-right: 24px;
}

.line-height {
  padding-right: 100px;
}

.sample {
  width: 540px;
  margin-left: 52px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SF;
}


.h1
.h2
.h3
.h4
.h5
.h6 {
  font-family: SF;
}

.examples {
  display: flex;
  flex-direction: column;
  padding: 80px 95px 50px 95px;
  font-family: "Inter";
  text-align: left;
}

.heading {
  display: flex;
  margin-bottom: 48px;
  font-weight: 600;
}

.hr {
  margin-bottom: 48px;
  border: 1px solid;
  color: rgba(0, 82, 255, 0.16);
}

.line-height-text {
  padding-left: 33px;
}

.heading p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.heading .h1 {
  font-size: 32px;
  line-height: 42px;
}

.heading .h2 {
  font-size: 28px;
  line-height: 36px;
}

.heading .h3 {
  font-size: 22px;
  line-height: 30px;
}

.heading .h4 {
  font-size: 20px;
  line-height: 28px;
}

.heading .h5 {
  font-size: 18px;
  line-height: 26px;
}

.heading h6.h6 {
  font-size: 16px;
  line-height: 24px;
}

.paragraph {
  display: flex;
  margin-bottom: 48px;
  font-weight: 400;
}

p{
  font-size: 16px;
  line-height: 24px;
  color: #00194c;
}

.p1{
  font-size: 20px;
  line-height: 28px;
}

.p2 {
  font-size: 18px;
  line-height: 26px;
}

.p3 {
  font-size: 16px;
  line-height: 24px;
}

.p4 {
  font-size: 14px;
  line-height: 22px;
}

.colors {
  display: grid;
  grid-template-columns: 496px 496px;
  grid-template-rows: 560px 560px 560px;
  gap: 160px;
  margin: auto;
  font-family: Inter;
}

.color-container {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.main-color-info {
  width: 130px;
  border: 1px solid #e6eeff;
  border-radius: 4px 4px 4px 4px;
  height: fit-content;
}
.main-color-container {
  border-bottom: 1px solid #e6eeff;
  height: 139px;
  border-radius: 4px 4px 0px 0px;
}
.main-color-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 12px 0px;
}
.text p {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

.little-color-icon {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}
.color-icons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blue {
  background-color: $blue;
}
.blue-100 {
  background-color: #e6eeff;
}
.blue-200 {
  background-color: #b3cbff;
}
.blue-300 {
  background-color: #80a9ff;
}
.blue-400 {
  background-color: #4d86ff;
}
.blue-500 {
  background-color: #0052ff;
}
.blue-600 {
  background-color: #004ae6;
}
.blue-700 {
  background-color: #0039b3;
}
.blue-800 {
  background-color: #002980;
}
.blue-900 {
  background-color: #00194c;
}
.blue-opacity-8 {
  background-color: rgba(0, 82, 255, 0.08);
}
.blue-opacity-16 {
  background-color: rgba(0, 82, 255, 0.16);
}
.blue-opacity-24 {
  background-color: rgba(0, 82, 255, 0.24);
}
.blue-opacity-32 {
  background-color: rgba(0, 82, 255, 0.32);
}
.blue-opacity-40 {
  background-color: rgba(0, 82, 255, 0.4);
}
.blue-opacity-48 {
  background-color: rgba(0, 82, 255, 0.48);
}
.orange {
  background-color: $orange;
}
.orange-100 {
  background-color: #fff4e9;
}
.orange-200 {
  background-color: #ffdfbe;
}
.orange-300 {
  background-color: #ffca93;
}
.orange-400 {
  background-color: #feb567;
}
.orange-500 {
  background-color: #fea03c;
}
.orange-600 {
  background-color: #e58622;
}
.orange-700 {
  background-color: #b2681b;
}
.orange-800 {
  background-color: #7f4b13;
}
.orange-900 {
  background-color: #331e08;
}
.orange-opacity-8 {
  background-color: rgba(254, 149, 38, 0.08);
}
.orange-opacity-16 {
  background-color: rgba(254, 149, 38, 0.16);
}
.orange-opacity-24 {
  background-color: rgba(254, 149, 38, 0.24);
}
.orange-opacity-32 {
  background-color: rgba(254, 149, 38, 0.32);
}
.orange-opacity-40 {
  background-color: rgba(254, 149, 38, 0.4);
}
.orange-opacity-48 {
  background-color:   rgba(254, 149, 38, 0.48);
}
.yellow {
  background-color: var(--yellow);
}
.yellow-100 {
  background-color: #fffaea;
}
.yellow-200 {
  background-color: #ffefc1;
}
.yellow-300 {
  background-color: #ffe597;
}
.yellow-400 {
  background-color: #ffdb6d;
}
.yellow-500 {
  background-color: #ffd044;
}
.yellow-600 {
  background-color: #e6b72a;
}
.yellow-700 {
  background-color: #b38e21;
}
.yellow-800 {
  background-color: #806618;
}
.yellow-900 {
  background-color: #332909;
}
.yellow-opacity-8 {
  background-color: rgba(255, 203, 47, 0.08);
}
.yellow-opacity-16 {
  background-color: rgba(255, 203, 47, 0.16);
}
.yellow-opacity-24 {
  background-color: rgba(255, 203, 47, 0.24);
}
.yellow-opacity-32 {
  background-color: rgba(255, 203, 47, 0.32);
}
.yellow-opacity-40 {
  background-color: rgba(255, 203, 47, 0.4);
}
.yellow-opacity-48 {
  background-color:   rgba(255, 203, 47, 0.48);
}
.green {
  background-color: var(--green);
}
.green-100 {
  background-color: #eefbf0;
}
.green-200 {
  background-color: #cbf3d2;
}
.green-300 {
  background-color: #a9ecb5;
}
.green-400 {
  background-color: #87e497;
}
.green-500 {
  background-color: #64dc79;
}
.green-600 {
  background-color: #4bc25f;
}
.green-700 {
  background-color: #3a974a;
}
.green-800 {
  background-color: #21562a;
}
.green-900 {
  background-color: #112b15;
}
.green-opacity-8 {
  background-color: rgba(83, 216, 106, 0.08);
}
.green-opacity-16 {
  background-color: rgba(83, 216, 106, 0.16);
}
.green-opacity-24 {
  background-color: rgba(83, 216, 106, 0.24);
}
.green-opacity-32 {
  background-color: rgba(83, 216, 106, 0.32);
}
.green-opacity-40 {
  background-color: rgba(83, 216, 106, 0.4);
}
.green-opacity-48 {
  background-color: rgba(83, 216, 106, 0.48);
}
.red {
  background-color: var(--red);
}
.red-100 {
  background-color: #ffebeb;
}
.red-200 {
  background-color: #ffc2c2;
}
.red-300 {
  background-color: #ff9a9a;
}
.red-400 {
  background-color: #ff7171;
}
.red-500 {
  background-color: #ff4848;
}
.red-600 {
  background-color: #e62f2f;
}
.red-700 {
  background-color: #b32424;
}
.red-800 {
  background-color: #801a1a;
}
.red-900 {
  background-color: #330a0a;
}
.red-opacity-8 {
  background-color: rgba(255, 52, 52, 0.08);
}
.red-opacity-16 {
  background-color: rgba(255, 52, 52, 0.16);
}
.red-opacity-24 {
  background-color: rgba(255, 52, 52, 0.24);
}
.red-opacity-32 {
  background-color: rgba(255, 52, 52, 0.32);
}
.red-opacity-40 {
  background-color: rgba(255, 52, 52, 0.4);
}
.red-opacity-48 {
  background-color: rgba(255, 52, 52, 0.48);
}




.shadows-container {
  display: grid;
  grid-template-columns: 163px 163px 163px;
  grid-template-rows: 105px 105px;
  gap: 80px;
  margin: auto;
  padding: 80px 0px;
}

.shadow-example {
  width: 80px;
  height: 80px;
  background-color: #f2f2f2;
  margin: auto;
  margin-bottom: 8px;
  border-radius: 4px;
}
.shadow-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.shadow-bottom-border {
  box-shadow: inset 0px -1px 0px #eaeaea;
}
.shadow-bottom-level-1 {
  box-shadow: 0px 2px 10px rgba(25, 1, 52, 0.12);
}
.shadow-bottom-level-2 {
  box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
}
.shadow-top-border {
  box-shadow: inset 0px 1px 0px #eaeaea;
}
.shadow-top-level-1 {
  box-shadow: 0px -2px 10px rgba(25, 1, 52, 0.12);
}
.shadow-top-level-2 {
  box-shadow: 0px -4px 10px rgba(25, 1, 52, 0.16);
}

.buttons-container {
  display: grid;
  grid-template-columns: 131px 159px 159px;
  grid-template-rows: 48px 48px 48px 48px 48px 48px;
  gap: 80px;
  margin: auto;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.button-reset {
  border: none;
  border-radius: 4px;
  transition: 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.button-primary {
  background-color: var(--blue);
  color: #ffffff;
}
.button-primary:hover {
  background-color: #4d86ff;
  cursor: pointer;
  transition: 0.3s;
  filter: drop-shadow(0px 4px 10px rgba(1, 21, 52, 0.16));
}

.button-primary-pressed {
  background: #80A9FF;
  color: #ffffff;
}
.button-primary-disabled {
  background: rgba(0, 82, 255, 0.08);
  color: #80A9FF;
}
.empty {
  background-color: #ffffff;
}
.button-ghost {
  background-color: #ffffff;
  color: #0052ff;
  border: 1px solid #0052ff;
}
.button-ghost:hover {
  background-color: #e6eeff;
  cursor: pointer;
  filter: drop-shadow(0px 4px 10px rgba(1, 21, 52, 0.16));
  transition: 0.3s;
}

.button-ghost-pressed {
  background-color: #ffffff;
  border: 1px solid #0039B3;
  color: #0039B3;
}
.button-ghost-disabled{
  background-color: #ffffff;
  border: 1px solid #B3CBFF;
  color: #B3CBFF;
}
.button-ghost-arrow {
  transition: 0.7s;
}
.button-ghost-arrow:hover {
  transition: 0.3s;
  border-color: #e6eeff;
}
.dropdown-container {
  margin: auto;
  padding: 80px 0px;
  width: 325px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.select-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0052ff;
  padding: 13px 24px;
  border: 1px solid #0052ff;
  border-radius: 4px;
  margin-bottom: 16px;
}

.dropdown-list {
  border-radius: 4px;
  box-shadow: 0px 1px 10px -3px;
  filter: drop-shadow(0px 4px 10px rgba(1, 21, 52, 0.16));
}
.dropdown-list hr {
  border: 1px solid rgba(0, 82, 255, 0.08);
}
.select-element {
  padding: 16px 24px;
  font-family: "Inter";
  color: #00194c;
}
.checkbox-switch-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 2px solid #0052ff;
  border-radius: 4px;
  cursor: pointer;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
  transition: 0.7s;
}

.round label:after {
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 13px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #0052ff;
  transition: 0.3s;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.round input[type="checkbox"]:disabled + label {
  border: 2px solid #e6eeff;
  cursor: default;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  filter: drop-shadow(0px 4px 10px rgba(1, 21, 52, 0.16));
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: var(--blue);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
 
}

.slider.round:before {
  top: 2px;
  border-radius: 50%;
  background-color: #e6eeff;
}

.radio {
  margin: 0.5rem;
  font-family: "Inter";
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  box-sizing: border-box;
  content: "";
  background: #ffffff;
  border-radius: 100%;
  border: 2px solid var(--blue);
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: var(--blue);
  box-shadow: inset 0 0 0 4px #ffffff;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: var(--blue);
}
.radio input[type="radio"]:disabled + .radio-label:before {
  border: 2px solid #e6eeff;
  background-color: #ffffff;
  cursor: default;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.inputs {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 320px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 80px 0px;
}

.input-container .input-wrapper input {
  border: none;
  display: inline-block;
  width: 100%;
  outline: none;
  padding: 14px 16px;
  flex-grow: 1;
  background-color: transparent;
  height: 100%;
  
}


.input-container {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
}


.input-container .input-wrapper {
  
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  margin-bottom: 10px;
  align-items: center;
  height: 50px;
  position: relative;
  color: #BDBDBD;
  border: 1px solid #BDBDBD;
}

.input-container .input-wrapper:hover {
  border-color: var(--blue);
}

.input-container .input-wrapper:focus-within {
  border-color: blue;
}

.input-container .input-wrapper:has(input:disabled) {
  background: #f2f2f2;
  border: none;
  color: #bdbdbd;
}
.input-container.disabled .input-wrapper :disabled:hover{
  pointer-events: none;
}
.input-container.disabled .input-wrapper ::placeholder{
  color:  #bdbdbd;
}

.input-container.success .input-wrapper,
.input-container.success p {
  border-color: var(--green);
  color: var(--green);
}
.input-container.success .input-wrapper ::-ms-value {
  color: var(--green);
}
.input-container.error .input-wrapper,
.input-container.error p {
  border-color: var(--red);
  color: red;
}

input.error{
  color: var(--red);
}

input.success{
  color: var(--green);
}

input.alert{
  color: var(--yellow);
}

.input-container.alert .input-wrapper,
.input-container.alert p {
  border-color: var(--yellow);
  color: var(--yellow);
}

.right-input-icon {
  position: absolute;
  right:19px;
  font-size: 20px;
  cursor: pointer;
}

/* .left-input-icon {
  position: absolute;
  left: 19px;
  font-size: 20px;
  cursor: pointer;
} */

.icon-user{
  padding-left: 22px;
}